{
  "support": {
    "url": "http://www.tiny-kiwi.com/support",
    "email": "support@tiny-kiwi.com"
  },
  "privacy_policy": "Find My Friends’ privacy policy document can be seen at http://www.tiny-kiwi.com/privacy",
  "categories": [
    "social",
    "lifestyle"
  ],
  "rating": {
    "submission_id": "14",
    "security_code": "J59TS1P"
  },
  "flash_required": "false",
  "screen_size": [
    "mobile"
  ],
  "screenshots": [
    "/images/contacts-page.png",
    "/images/home-screen.png",
    "/images/buy-now.png"
  ],
  "countries": [
    "au",
    "nz",
    "za",
    "de"
  ],
  "price": "free",
  "in_app_products": {
    "unlock all features": "tier_20",
    "1 year subscription": "tier_40"
  },
  "payment_provider": {
    "bango": {
      "token": "2Lw6I1Rwz1twtZP7fdjF83ujiCOfRZL2AoMiOTM2xhAhdiC2am"
    }
  },
  "paid_upgrade_of": "Find My Friends for Totally Free"
}